@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.header {
  padding-top: 29px;
  padding-bottom: 18px;
  width: 100%;
  min-height: 62px;
  display: flex;
  justify-content: center;
}

.sectionFooter {
  width: 100%;
  padding: 30px 0 37px 25px;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
}
@media screen and (min-width: 599px) {
  .sectionFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.sectionFooter__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding-bottom: 27px;
}
.sectionFooter__items p {
  padding-top: 14px;
}
.sectionFooter__items i {
  padding-right: 10px;
}

.head {
  width: 100%;
}
.head__location {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  background-color: #d3d0d0;
}
.head__location i {
  padding-right: 12px;
}
.head__heading {
  padding: 47px 0;
  display: flex;
  min-height: 285px;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 800;
}
.head__heading button {
  width: 220px;
  height: 50px;
  background: linear-gradient(to bottom right, #FF79DA 15%, #9356DC);
  color: white;
  font-weight: bold;
  margin-top: 34px;
  padding: 19px 22px;
  border-radius: 30px;
  border-style: none;
}
.head__heading h2 {
  margin-bottom: 23px;
  font-weight: bold;
}

.fonctionnement {
  width: 100%;
  padding: 56px 20px;
}
.fonctionnement .use {
  width: 100%;
  margin-top: 32px;
  padding-left: 15px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .use {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.fonctionnement .use__items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 24px 0;
  min-height: 73px;
  transition: all 450ms;
  position: relative;
}
.fonctionnement .use__items:hover {
  background-color: #bf9ee967;
}
.fonctionnement .use__items:hover i {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .use__items {
    display: flex;
    width: 30%;
    min-width: 310px;
    margin: 10px;
  }
}
.fonctionnement .use__items div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  left: -15px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.fonctionnement .use__items i {
  position: absolute;
  left: 40px;
  color: grey;
}

.section-resto {
  width: 100%;
  padding: 56px 20px;
  background-color: #f0f0f0;
}
.section-resto .restaurants {
  width: 100%;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 750px) {
  .section-resto .restaurants {
    justify-content: space-between;
  }
}
.section-resto .restaurants .card {
  display: flex;
  justify-content: center;
  padding: 9px 0;
}
.section-resto .restaurants .card__img {
  width: 335px;
  height: 175px;
  position: relative;
}
.section-resto .restaurants .card__img img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  position: center center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.section-resto .restaurants .card__img p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 13px;
  right: 12px;
  color: #0d8b6c;
  font-weight: bold;
  background-color: #99E2D0;
  border-radius: 3px;
}
.section-resto .restaurants .card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 77px;
  padding: 20px 24px 20px 14px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
}
.section-resto .restaurants .card__title {
  font-weight: bold;
}
.section-resto .restaurants .card__content i {
  width: 23px;
  height: 21px;
  font-weight: unset;
}

.header {
  padding: 29px 23px 18px 23px;
}
.header__returnHome {
  display: flex;
  align-items: center;
}
.header__returnHome i {
  font-size: 15px;
  font-weight: bold;
}
.header img {
  margin: auto;
}

.headerImage {
  width: 100%;
}
.headerImage__img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.menu {
  margin-top: -120px;
  background-color: #f0f0f0;
  width: 100%;
  position: relative;
  margin: -60px auto auto;
  padding: 44px 13px 83px 13px;
  border-radius: 45px 45px 0 0;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}
.menu__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}
.menu__title i {
  width: 25px;
  height: 25px;
  font-weight: unset;
}

.entree__title {
  width: fit-content;
  text-transform: uppercase;
  font-weight: normal;
  padding: 36px 0 13px 0;
}
.entree__title::after {
  content: "";
  display: block;
  width: 60%;
  height: 5px;
  margin-top: 9px;
  background-color: #99E2D0;
}

.menuItems {
  background-color: white;
  margin: 13px 0;
  padding: 16px 23px 16px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuItems__title {
  padding-bottom: 15px;
}
.menuItems__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
