
// Animation du preloader texte de la page d'accueil
.block-loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.89);
    z-index: 50;
    animation: block-loader 3s linear;
    visibility: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;


    .loader {
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;

        & div {
            width: 20vw;
            height: 20vh;     
            font-size: 3em;
            animation: loader 3s cubic-bezier(0,.66,.67,1.01) alternate;
            visibility: hidden;
            display: flex;
            justify-content: center space-evenly;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 3px;
        }
        & > div:nth-child(1) {
            color: $colorPrimary;
            animation-delay: 0s;
        }
    
        & > div:nth-child(2) {
            color: $colorSecondary;
            animation-delay: 0.2s;
        }
        & > div:nth-child(3) {
            color: $colorThird;
            animation-delay: 0.4s;
        }
    }
}

@keyframes loader {
    0% {
        transform: translateY(40px);
        visibility: visible;
        opacity: 1;

    }
    10% {
        transform: translateY(60px);
        visibility: visible;
        opacity: 1;

    }
    20% {
        transform: translateY(60px);
        visibility: visible;
        opacity: 1;
    }

    30% {
        transform: translateY(80px);
        visibility: visible;
        opacity: 1;
    }
    40% {
        transform: translateY(-200px);
        visibility: visible;
        opacity: 1;
    }

    50% {
        transform: translateY(-220px);
        visibility: visible;
        opacity: 1;

    }
    60% {
        transform: translateY(-200px);
        visibility: visible;
        opacity: 1;
    }
    70% {
        transform: translateY(80px);
        visibility: visible;
        opacity: 1;
    }
    80% {
        transform: translateY(60px);
        visibility: visible;
        opacity: 0.8;
    }
    100% {
        transform: translateY(40px);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes block-loader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    80% {
        visibility: visible;
        opacity: 0.7;
    }
    80% {
        visibility: visible;
        opacity: 0.8;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes checkRotate {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(90deg);
    }
    66% {
        transform: rotate(180deg);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


