// Import de l'url "Google font" pour les typography Shrikland et Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.loader {
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.6em;
}


