// Couleurs

$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorThird: #99E2D0;
$colorFourth: white;
$colorFifth: #0d8b6c;
$colorBlack: black;


// couleurs background

$colorBackLight :rgb(240, 240, 240);
$colorBackViolet: #bf9ee967;

// gradient

$list1: $colorSecondary 25%, $colorPrimary;

